{% extends 'base.html' %}

{% block content %}

    <div id="pokemon-list" class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <div class="p-4">
            <label for="table-search" class="sr-only">Search</label>
            <div class="relative mt-1">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                    <svg class="w-5 h-5 " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
                </div>
                <form action="/" method="GET">
                    <input type="text" name="search" id="table-search" class=" border text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-80 pl-10 p-2.5 " placeholder="Search for monsters">
                </form>
            </div>
        </div>

        <table class="table-auto w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead>
                <tr>
                    <th scope="col" class="px-4 py-2">Img</th>
                    <th scope="col" class="px-4 py-2">ID</th>
                    <th scope="col" class="px-4 py-2">Name</th>
                    <th scope="col" class="px-4 py-2">Weight / Height</th>
                    <th scope="col" class="px-4 py-2">Order</th>
                    <th scope="col" class="px-4 py-2">Experience</th>
                    <th scope="col" class="px-4 py-2">Catch</th>
                </tr>
            </thead>
            <tbody>

                {% for poke in object_list %}
                     <tr class="bg-white border-b ">
                         <td class="px-4 py-3">
                             <img src="{{ poke.avatar|default_if_none:'https://pokeapi.co/pokeapi_192_square.png' }}" width="50" />
                         </td>
                         <td class="px-4 py-3">{{ poke.id }}</td>
                         <td class="px-4 py-3">{{ poke.name|title }}</td>
                         <td class="px-4 py-3">{{ poke.weight }} / {{ poke.height }}</td>
                         <td class="px-4 py-3">{{ poke.order }}</td>
                         <td class="px-4 py-3">{{ poke.base_experience }}</td>
                         <td class="px-4 py-3">
                            <a href="{% url 'monsters-detail' poke.id %}" target="_blank" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Catch-me!</a>
                         </td>
                    </tr>
                {% endfor %}

            </tbody>

        </table>

        <!-- Pager-->
        <div class="pagination text-gray-500 m-5 text-center">
            <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
                <span class="current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>

    </div>

{% endblock content %}